In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv('sentiment_analysis/predictions_train_gpt-4o.csv')
df2 = pd.read_csv('sentiment_analysis/predictions_train_gemini_flash.csv')

In [9]:
df1

,Unnamed: 0,text,mark,label,pred_raw,pred_label,time_sec,prompt_tokens,completion_tokens,total_tokens
0,0,Despite the high ratings given to this film by...,2,0,Negative,0,0.512161,133,2,135
1,1,That's the question you have to ask yourself w...,2,0,Negative,0,0.389369,670,2,672
2,2,"I really wish that when making a comedy, the p...",1,0,Negative,0,0.413543,167,2,169
3,3,This is a very bland and inert production of o...,2,0,Negative,0,0.413581,344,2,346
4,4,Amateurism best describes the film adaptation ...,1,0,Negative,0,0.551060,209,2,211
...,...,...,...,...,...,...,...,...,...,...
1435,1435,This movie was my first touch with Mr Sica so ...,9,1,Positive,1,0.510028,302,2,304
1436,1436,"SPOILERS All too often, Hollywood's Shakespear...",1,0,Negative,0,0.575883,579,2,581
1437,1437,Jackie Chan's Police Story is a landmark film ...,9,1,Positive,1,0.563764,826,2,828
1438,1438,This is how i felt while watching this film. I...,10,1,Positive,1,0.502312,440,2,442
1439,1439,"what a preposterous story ,murder blackmail,ch...",4,0,Negative,0,0.351943,221,2,223

In [10]:
df2

,text,mark,label,pred_raw,pred_label,time_sec,prompt_tokens,completion_tokens,total_tokens
0,Despite the high ratings given to this film by...,2,0,Negative,0,0.512161,133,2,135
1,That's the question you have to ask yourself w...,2,0,Negative,0,0.389369,670,2,672
2,"I really wish that when making a comedy, the p...",1,0,Negative,0,0.413543,167,2,169
3,This is a very bland and inert production of o...,2,0,Negative,0,0.413581,344,2,346
4,Amateurism best describes the film adaptation ...,1,0,Negative,0,0.551060,209,2,211
...,...,...,...,...,...,...,...,...,...
1435,This movie was my first touch with Mr Sica so ...,9,1,Positive,1,0.510028,302,2,304
1436,"SPOILERS All too often, Hollywood's Shakespear...",1,0,Negative,0,0.575883,579,2,581
1437,Jackie Chan's Police Story is a landmark film ...,9,1,Positive,1,0.563764,826,2,828
1438,This is how i felt while watching this film. I...,10,1,Positive,1,0.502312,440,2,442
1439,"what a preposterous story ,murder blackmail,ch...",4,0,Negative,0,0.351943,221,2,223