In [ ]:
import pandas as pd
import sys
import os

module_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [27]:
from ai_service import label_dataset_ner, AiClient
ai_service = AiClient()

In [33]:
train = pd.read_csv('../data/conll003-englishversion/train/train_for_llm.csv')

Due to the high cost of labeling the entire dataset, I selected 40 proposals for a test run of all models, after which I will label the entire dataset with the best model.

In [29]:
sample_df = train.sample(n=min(40, len(train)), random_state=42).reset_index(drop=True)
sample_df.head(2)

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str
0,13944,13945,"Attendance : 1,800",O O O
1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...

## promt

In [ ]:
tamplate = {
    "role": "system",
    "content": """
        You are an expert Named Entity Recognition (NER) model. 
        Your task is to extract entities with maximum precision and return only valid JSON. 
        **Never output anything except JSON.**
        
        Rules:
            - Labels allowed: PER (Person), ORG (Organization), LOC (Location), MISC (Miscellaneous).
            - If no entities found, return {{'entities': []}}
            
        JSON Structure Example:
        {{
          [
            {{
              entity: [Example Entity Name],\n"
              label: PER|ORG|LOC|MISC \n"
            }}
          ]
        }}
        Text:\n{text}
    """
}

## gpt-4o

In [ ]:
res_df = label_dataset_ner(sample_df, tamplate, ai_service.apenai_call, 'gpt-4o')
res_df.to_csv("ner_train_gpt_4o.csv")

100%|██████████| 40/40 [00:42<00:00,  1.05s/it]

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities_pred,llm_time,llm_prompt_tokens,llm_completion_tokens
0,13944,13945,"Attendance : 1,800",O O O,[],1.698824,74,11
1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'text': 'Turkey', 'label': 'LOC'}, {'text': ...",4.066634,109,111
2,11239,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,[],1.164219,93,11
3,6561,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'text': 'LIBERIA', 'label': 'LOC'}, {'text':...",1.694693,81,52
4,12246,12247,1. Sorensen 11.20:33,O B-PER O,[],1.484331,78,11
5,4816,4817,9. Akira Ryo ( Japan ) Kawasaki 38:50.269,O B-PER I-PER O B-LOC O B-ORG O,"[{'text': 'Akira Ryo', 'label': 'PER'}, {'text...",1.982097,84,72
6,13780,13781,"Six months to September 30 , 1996",O O O O O O O,[],1.374418,78,11
7,7613,7614,P1020 ingot 75 cents / pound,O O O O O O,[],0.605053,78,11
8,11767,11768,"Sale Amount : 4,300,000",O O O O,[],0.582458,77,11
9,2807,2808,The use of riverways in the region has been ma...,O O O O O O O O O O O O O O O O O O B-LOC O O ...,"[{'entity': 'Amazon', 'label': 'LOC'}]",0.772324,109,31
10,12467,12468,Els Callens ( Belgium ) beat Annabel Ellwood (...,B-PER I-PER O B-LOC O O B-PER I-PER O B-LOC O O,"[{'text': 'Els Callens', 'label': 'PER'}, {'te...",1.084715,86,91
11,6922,6923,A small bottle of a garishly-coloured sports d...,O O O O O O O O O O O B-MISC I-MISC O O O O O ...,"[{'text': 'U.S. Open', 'label': 'MISC'}]",1.074643,122,35
12,747,748,Qualifier vs. 2 - Michael Chang ( U.S. ),O O O O B-PER I-PER O B-LOC O,"[{'text': 'Michael Chang', 'label': 'PER'}, {'...",0.749150,81,51
13,10667,10668,AMSTERDAM 1996-08-28,B-LOC O,"[{'text': 'AMSTERDAM', 'label': 'LOC'}]",0.787350,78,33
14,3461,3462,But play was finally suspended for the day whe...,O O O O O O O O O O O O O,[],0.996606,81,11
15,468,469,"Celtic 's Jackie McNamara , who did well with ...",B-ORG O B-PER I-PER O O O O O O O O O O O O O ...,"[{'text': 'Celtic', 'label': 'ORG'}, {'text': ...",0.812555,101,55
16,4743,4744,14. Rubens Barrichello ( Brazil ) Jordan 29,O B-PER I-PER O B-LOC O B-ORG O,"[{'text': 'Rubens Barrichello', 'label': 'PER'...",0.940613,81,71
17,218,219,AD-DIYAR,B-ORG,[],0.705343,73,11
18,7328,7329,""" The head of state 's holiday has only just b...",O O O O O O O O O O O O O O O O B-PER I-PER O ...,"[{'text': 'Sergei Yastrzhembsky', 'label': 'PE...",0.972718,108,77
19,8699,8700,VfB Stuttgart 3 3 0 0 10 1 9,B-ORG I-ORG O O O O O O O,"[{'text': 'VfB Stuttgart', 'label': 'ORG'}]",0.690372,86,34
20,6849,6850,Botafogo 3 1 2 0 4 3 5,B-ORG O O O O O O O,[],0.499427,85,11
21,5768,5769,Roda JC Kerkrade 2 0 2 0 2 2 2,B-ORG I-ORG I-ORG O O O O O O O,"[{'entity': 'Roda JC Kerkrade', 'label': 'ORG'}]",0.898890,88,36
22,2459,2460,1. Lars Riedel ( Germany ) 66.74 metres,O B-PER I-PER O B-LOC O O O,"[{'text': 'Lars Riedel', 'label': 'PER'}, {'te...",0.882037,82,53
23,5723,5724,"PSV Eindhoven 4 ( Faber 32nd , Nilis 63rd 79th...",B-ORG I-ORG O O B-PER O O B-PER O O O B-PER O O,"[{'entity': 'PSV Eindhoven', 'label': 'ORG'}, ...",0.922075,96,91
24,3425,3426,A Belgian man died and 31 people were injured ...,O B-MISC O O O O O O O O O O O O O O O O O O O...,"[{'text': 'Belgian', 'label': 'MISC'}, {'text'...",1.048920,98,56
25,794,795,NEW YORK 59 69 .461 21 1/2,B-ORG I-ORG O O O O O,"[{'text': 'NEW YORK', 'label': 'LOC'}]",0.921220,82,32
26,13722,13723,Simex Nikkei futures ended easier but off the ...,B-MISC I-MISC O O O O O O O O O O O O,"[{'text': 'Simex', 'label': 'ORG'}, {'text': '...",1.105306,85,53
27,5217,5218,Results of Australian Rules,O O B-MISC I-MISC,"[{'entity': 'Australian Rules', 'label': 'MISC'}]",0.811453,72,33
28,2145,2146,Pittsburgh 8 HOUSTON 6,B-ORG O B-ORG O,"[{'entity': 'Pittsburgh', 'label': 'LOC'}, {'e...",1.124602,78,53
29,10191,10192,West Bromwich 3 0 2 1 2 3 2,B-ORG I-ORG O O O O O O O,[],0.856963,85,9
30,7596,7597,--,O,[],0.613955,69,11
31,9205,9206,One diplomat said Iraq and U.N. were still in ...,O O O B-LOC O B-ORG O O O O O O O O O O O O O ...,"[{'text': 'Iraq', 'label': 'LOC'}, {'text': 'U...",1.232391,111,89
32,169,170,Three Afghan guards brought to the United Arab...,O B-MISC O O O O B-LOC I-LOC I-LOC O O O B-MIS...,"[{'text': 'Afghan', 'label': 'MISC'}, {'text':...",1.471305,109,150
33,12974,12975,"The poll , conducted earlier this month after ...",O O O O O O O O B-PER O O O O O O O O O O O O ...,"[{'text': 'Banharn', 'label': 'PER'}, {'text':...",1.049211,124,58
34,5460,5461,Domingos redeemed himself by netting the equal...,B-PER O O O O O O O O O O O,[],0.578753,83,11
35,9735,9736,Forsa June 6 39.0 36.0 6.0 12.0 5.0,B-ORG O O O O O O O,[],0.437307,93,11
36,10652,10653,"Pires , one of the most promising strikers in ...",B-PER O O O O O O O O O O O O O O O O O O O O ...,"[{'text': 'Pires', 'label': 'PER'}, {'text': '...",1.368087,111,111
37,10378,10379,""" When I saw the new draw I did n't have to ch...",O O O O O O O O O O O O O O O O O B-PER O O O,"[{'text': 'Medvedev', 'label': 'PER'}]",0.797961,91,33
38,5312,5313,OB 1 Lotte 1,B-ORG O B-PER O,[],0.613655,75,11
39,5711,5712,Volendam 0 .,B-ORG O O,[],0.551315,73,11

## gpt-4o-mini

In [ ]:
res_df = label_dataset_ner(sample_df, tamplate, ai_service.apenai_call, model_name='gpt-4o-mini')
res_df.to_csv("ner_train_gpt_4o_mini.csv")

100%|██████████| 40/40 [00:52<00:00,  1.32s/it]

In [13]:
res_df.head()

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities_pred,llm_time,llm_prompt_tokens,llm_completion_tokens
0,13944,13945,"Attendance : 1,800",O O O,[],0.793836,74,7
1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'label': 'LOC', 'entity': 'Turkey'}, {'label...",2.220597,109,85
2,11239,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,[],0.557302,93,7
3,6561,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'text': 'LIBERIA', 'label': 'LOC'}, {'text':...",1.418294,81,48
4,12246,12247,1. Sorensen 11.20:33,O B-PER O,"[{'text': 'Sorensen', 'label': 'PER'}]",0.950519,78,28

## gemini-2.0-flash

In [ ]:
res_df = label_dataset_ner(sample_df, tamplate, ai_service.gemini_call, model_name='gemini-2.0-flash')
res_df.to_csv("ner_train_gemini-2.0-flash.csv")

100%|██████████| 40/40 [01:03<00:00,  1.59s/it]

In [ ]:
res_df.head()

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities_pred,llm_time,llm_prompt_tokens,llm_completion_tokens
0,13944,13945,"Attendance : 1,800",O O O,[],0.639553,84,10
1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'entity': 'Turkey', 'label': 'LOC'}, {'entit...",0.978112,116,131
2,11239,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,[],0.469924,101,10
3,6561,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'entity': 'LIBERIA', 'label': 'LOC'}, {'enti...",0.606475,92,37
4,12246,12247,1. Sorensen 11.20:33,O B-PER O,"[{'entity': 'Sorensen', 'class': 'PER'}]",0.571222,88,24

## mistral-small-3.1-24b-instruct

In [5]:
data = pd.read_csv("ner_train_mistral-small-3.1-24b-instruct.csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities_pred,llm_time,llm_prompt_tokens,llm_completion_tokens
0,0,13944,13945,"Attendance : 1,800",O O O,[],0.666682,72,10
1,1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'label': 'LOC', 'text': 'Turkey', 'start': 8...",4.617509,106,199
2,2,11239,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,"[{'text': 'parliament', 'label': 'ORG'}]",0.588928,89,34
3,3,6561,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'text': 'LIBERIA', 'label': 'LOC', 'start': ...",1.209330,82,127
4,4,12246,12247,1. Sorensen 11.20:33,O B-PER O,[],0.431050,77,10

# HUMAN -> bio_to_entities 
(O O O O B-LOC O B-LOC O) -> [{'entity': '..', 'label': '...'}, ...

In [32]:
def bio_to_entities(sentence_text, ner_tags_str):
    tokens = sentence_text.split()
    tags = ner_tags_str.split()

    entities = []
    current_tokens = []
    current_class = None

    for tok, tag in zip(tokens, tags):
        if tag == "O": # end entity
            if current_tokens:
                entities.append({
                    "entity": " ".join(current_tokens),
                    "label": current_class
                })
                current_tokens = []
                current_class = None
            continue

        tag_type, label = tag.split("-", 1)

        if tag_type == "B":  # start new
            if current_tokens:
                entities.append({
                    "entity": " ".join(current_tokens),
                    "label": current_class
                })
            current_tokens = [tok]
            current_class = label

        elif tag_type == "I":  # add 
            if current_class == label: 
                current_tokens.append(tok)
            else:
                if current_tokens:
                    entities.append({
                        "entity": " ".join(current_tokens),
                        "label": current_class
                    })
                current_tokens = [tok]
                current_class = label

    if current_tokens:
        entities.append({
            "entity": " ".join(current_tokens),
            "label": current_class
        })

    return entities

In [20]:
sample_df['entities'] = sample_df.apply(
    lambda row: bio_to_entities(row['sentence_text'], row['ner_tags_str']),
    axis=1
)

sample_df.head()

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities
0,13944,13945,"Attendance : 1,800",O O O,[]
1,13381,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'entity': 'Turkey', 'label': 'LOC'}, {'entit..."
2,11239,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,[]
3,6561,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'entity': 'LIBERIA', 'label': 'LOC'}, {'enti..."
4,12246,12247,1. Sorensen 11.20:33,O B-PER O,"[{'entity': 'Sorensen', 'label': 'PER'}]"

In [21]:
sample_df = sample_df.drop(columns=['Unnamed: 0'])
sample_df.head()

,sentence_id,sentence_text,ner_tags_str,entities
0,13945,"Attendance : 1,800",O O O,[]
1,13382,"Ties between the two neighbours , strained als...",O O O O O O O O O O O O O B-LOC O B-LOC O O O ...,"[{'entity': 'Turkey', 'label': 'LOC'}, {'entit..."
2,11240,The winner has to secure a majority from the c...,O O O O O O O O O O O O O O O O O O O O O O O O O,[]
3,6562,"LIBERIA , Costa Rica 1996-08-26",B-LOC O B-LOC I-LOC O,"[{'entity': 'LIBERIA', 'label': 'LOC'}, {'enti..."
4,12247,1. Sorensen 11.20:33,O B-PER O,"[{'entity': 'Sorensen', 'label': 'PER'}]"

In [22]:
sample_df.to_csv('ner_train_human.csv')

In [35]:
train = pd.read_csv('../data/conll003-englishversion/train/train_for_llm.csv')

In [36]:
train['entities'] = train.apply(
    lambda row: bio_to_entities(row['sentence_text'], row['ner_tags_str']),
    axis=1
)

display(train.head())

train.to_csv('../data/conll003-englishversion/train/train.csv')

,Unnamed: 0,sentence_id,sentence_text,ner_tags_str,entities
0,0,1,EU rejects German call to boycott British lamb .,B-ORG O B-MISC O O O B-MISC O O,"[{'entity': 'EU', 'label': 'ORG'}, {'entity': ..."
1,1,2,Peter Blackburn,B-PER I-PER,"[{'entity': 'Peter Blackburn', 'label': 'PER'}]"
2,2,3,BRUSSELS 1996-08-22,B-LOC O,"[{'entity': 'BRUSSELS', 'label': 'LOC'}]"
3,3,4,The European Commission said on Thursday it di...,O B-ORG I-ORG O O O O O O B-MISC O O O O O B-M...,"[{'entity': 'European Commission', 'label': 'O..."
4,4,5,Germany 's representative to the European Unio...,B-LOC O O O O B-ORG I-ORG O O O B-PER I-PER O ...,"[{'entity': 'Germany', 'label': 'LOC'}, {'enti..."

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14041 entries, 0 to 14040
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     14041 non-null  int64
 1   sentence_id    14041 non-null  int64
 2   sentence_text  14041 non-null  object
 3   ner_tags_str   14041 non-null  object
 4   entities       14041 non-null  object
dtypes: int64(2), object(3)
memory usage: 548.6+ KB