In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("../data/stanford-natural-language-inference-corpus/snli_test.csv")
df = df[["sentence1", "sentence2", "gold_label"]]

In [8]:
display(df.head())
display(df['gold_label'].value_counts())
display(df['gold_label'].value_counts(normalize=True))
display(df.info())

,sentence1,sentence2,gold_label
0,This church choir sings to the masses as they ...,The church has cracks in the ceiling.,neutral
1,This church choir sings to the masses as they ...,The church is filled with song.,entailment
2,This church choir sings to the masses as they ...,A choir singing at a baseball game.,contradiction
3,"A woman with a green headscarf, blue shirt and...",The woman is young.,neutral
4,"A woman with a green headscarf, blue shirt and...",The woman is very happy.,entailment

gold_label
entailment       3368
contradiction    3237
neutral          3219
-                 176
Name: count, dtype: int64

gold_label
entailment       0.3368
contradiction    0.3237
neutral          0.3219
-                0.0176
Name: proportion, dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence1   10000 non-null  object
 1   sentence2   10000 non-null  object
 2   gold_label  10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

None

# prepare data for llm labeling

- 1500 train
- 50 find best model

In [9]:
df_sample_1500 = df.sample(n=1500, random_state=42)
df_sample_50 = df.sample(n=50, random_state=42)

In [12]:
display(df_sample_1500['gold_label'].value_counts())
display(df_sample_50['gold_label'].value_counts())

gold_label
neutral          508
entailment       501
contradiction    467
-                 24
Name: count, dtype: int64

gold_label
contradiction    21
neutral          17
entailment       12
Name: count, dtype: int64

In [13]:
df_sample_1500.to_csv("../data/stanford-natural-language-inference-corpus/snli_test_sample_1500.csv", index=False)
df_sample_50.to_csv("../data/stanford-natural-language-inference-corpus/snli_test_sample_50.csv", index=False)